.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2px;

  @media screen and (min-width: 1440px) {
    flex-direction: row;
  }
}

.link {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 46px;
  border: 8px solid var(--primary-white-color);
  border-radius: 60px;
  background-color: var(--primary-white-color);
  position: relative;

  color: var(--primary-dark-gray-color);
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  transition: all var(--transition-duration) var(--transition-timing-function);
}

.link:not(:last-child)::after {
  content: '';
  width: 15px;
  height: 8px;
  position: absolute;
  bottom: -13px;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--primary-white-color);

  @media screen and (min-width: 1440px) {
    bottom: 50%;
    left: auto;
    right: -17px;
    transform: translateY(50%) rotate(-90deg);
  }
}

.linkHome {
  width: 96px;
}

.linkMedicineStore {
  width: 134px;
}

.linkMedicine {
  width: 112px;
}

.active {
  background-color: var(--primary-green-color);
  color: var(--primary-white-color);
}
