.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  @media screen and (min-width: 375px) {
    max-width: 335px;
  }

  @media screen and (min-width: 768px) {
    max-width: 704px;
    align-items: flex-start;
    gap: 54px;
  }

  @media screen and (min-width: 1440px) {
    max-width: 1248px;
    flex-direction: row;
  }
}
