.container {
  margin: 0 auto;
  box-sizing: border-box;
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content {
  width: 100%;
  min-height: calc(100vh - 82px);
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;

  @media screen and (min-width: 375px) {
    max-width: 375px;
  }

  @media screen and (min-width: 768px) {
    min-height: calc(100vh - 100px);
    max-width: 768px;
    padding: 0 32px;
  }

  @media screen and (min-width: 1440px) {
    min-height: calc(100vh - 120px);
    max-width: 1440px;
    padding: 0 96px;
  }
}

.content,
.container {
  overflow: visible;
}

.authorizationPage {
  display: flex;
  justify-content: center;
  min-width: 100vw;
  min-height: calc(100vh - 82px);
  background-image: image-set(
    url(../../../public/img/background@1x.webp) 1x,
    url(../../../public/img/background@2x.webp) 2x,
    url(../../../public/img/background@1x.png) 1x,
    url(../../../public/img/background@2x.png) 2x
  );
  background-repeat: no-repeat;
  background-position: calc(100% + 120px) calc(100% + 80px);
  background-size: 364px 249px;

  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 100px);
    background-size: 464px 340px;
    background-position: calc(100% + 150px) calc(100% + 70px);
  }

  @media screen and (min-width: 1440px) {
    min-height: calc(100vh - 102px);
  }
}
